@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
}  
body {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    background-image: url(image/patt.png);
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.header {
    background-color:rgba(255, 255, 255, 0.75);
    padding: 25px 0;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
[class*="col-"] {
    float: left;
    padding-left: 15px;
    padding-right: 15px ;
}
.row::after, .menu:after { 
    content: "";
    display: block;
    clear: both;
}
.logo {
    padding-top: 7px;
}
.menu li {
    width: 25%;
    float: left;
    border-left: solid 1px #2c71b8;
}
.menu li:last-child {
    border-right: 1px #2c71b8 solid;
}
.sub-menu li{
    float: none;
}
.menu a {
    display: block;
    height: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: #2c71b8;
    font-size: 21px;
}
.menu li:hover a{
    background-color: #2c71b8;
    color: white;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33333%;
}
.col-6 {
    width: 50%;
}
.col-8 {
    width: 66.66667%;
}
.col-9 {
    width: 75%;
}
.col-12 {
    width: 100%;
}
.product-menu {
    height: 50px;
    position: relative;
}
.chevron-down-icon {
    width: 8px;
    height: 6px;
    background-image: url(image/white-arrow-png.png);
    position: absolute;
    left: 120px;
    bottom: 22px;
    /* z-index:4; */
}
.sub-menu {
    padding: 20px 0px;
    background-color: #2c71b8;
    position: absolute;
    left: -1px;
    display: none;
}
.product-menu:hover .sub-menu {
    display: block;
}
.sub-menu a {
    width: 284px;
    height: 40px;
    display: block;
    height: 40px;
    text-decoration: none;
    text-align: left;
    text-indent: 30px;
    line-height: 40px;
    color: white;
    font-size: 21px;
}
.sub-menu li a:hover {
    color: #2c71b8;
    background: white;
}
.search-form {
    height: 50px;
    line-height: 50px;
    height: 40px;
    width: 200px;
    line-height: 40px;
    border: 1px #2c71b8 solid;
    margin-top: 5px;
    position: relative;
}
::placeholder {
    color: #2c71b8;
}
input[type="search"] { 
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 21px;
    background: transparent;
    border: none;
    width: 198px;
    height: 38px;
    border-color: none;
    padding-left: 15px;
}
.button {
    width: 30px;
    height: 30px;
    background: #2c71b8;
    line-height: 27px;
    position: absolute;
    left: 164px;
    bottom: 4px;
}
.button img {
    width: 14px;
    height: 12px;
}
.cart {
    padding-top: 5px;
    padding-left: 5px;
    height: 50px;
    position: relative;
}
div .cart-button {
    width: 40px;
    height: 40px;
    background: #ffffff;
    line-height: 50px;
    text-align: center;
    margin-right: 0px;
}
.cart-count {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: #2c71b8;
    color: #ffffff;
    font-size: 14px;
    position: absolute;
    left: -5px;
    bottom: 35px;
    text-align: center;
    line-height: 20px;
}

.main-section {
    padding-bottom: 50px;
}
.main .slyder {
    height: 400px;
    background-color: rgba(0, 0, 0, 0.2);
    border-bottom: 1px white;
}
.filter {
    height: 845px;
    background-color: rgba(255, 255, 255, 0.25);
}
.items {
    padding-top: 30px;
}
.items a {
    font-size: 14px;
    color: #8ab0d8;
    text-decoration: none;
}
.title-products, .sort {
    padding-top: 20px;
    padding-bottom: 50px;
}
.sort-menu-li {
    font-size: 21px;
    font-weight: lighter;
    line-height: 40px;
}
.sort-menu-li>a {
    border: 1px solid;
    border-color: #ffffff;
}
.sort a {
    display: block;
    width: 270px;
    height: 40px;
    text-align: left;
    text-indent: 15px;
    text-decoration: none;
    color: #ffffff;
    background-color: #2c71b8;
}
.sort-menu-li a:hover {
    background-color: #ffffff;
    color: #2c71b8;
}
.title-sort {
    position: relative
}
.sort-menu-block {
    display: none;
    position:absolute;
    z-index:4;
}
.sort-menu-block a {
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: #ffffff;
}
.sort-menu-li:hover .sort-menu-block {
    display: block;
}
.title-products p {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 48px;
    color: white;
}
[class*="block-"] {
    border-color: white;
    margin-bottom: 30px;
    border: 1px solid;
    border-color: #cadbed;
}
.product-photo {
    height: 180px;
    background-color: rgba(255, 255, 255, 0.75);
    position: relative;
}
.photo-1 {
    position: absolute;
    top: 45px;
    left: 84px;
}
.tv-remote{
    position: absolute;
    left: 84px;
    top: 45px;
}
.watch-icon {
    position: absolute;
    left: 105px;
    top: 35px;
}
.laptop-icon {
    position: absolute;
    left: 84px;
    top: 60px;
}
.mp3-icon {
    position: absolute;
    left: 104px;
    top: 40px;
}
.phone-icon {
    position: absolute;
    left: 104px;
    top: 40px;
} 
.ipad-icon {
    position: absolute;
    left: 104px;
    top: 40px;
}
.square, .heart {
    width: 30px;
    height: 30px;
    border: 1px solid;
    border-color: #2c71b8;
    position: relative;
    background-color: transparent;
}
.square:hover {
     background-color: #2c71b8;
}

.heart:hover {
     background-color: #2c71b8;
}
.square {
    position: absolute;
    left: 228px;
    top: 10px;
}
.heart {
    position: absolute;
    left: 228px;
    top: 50px;
}
.square-icon {
    background-image: url(image/square-icon.png);
    background-size: cover;
    background-position: center;
    line-height: 30px;
    text-align: center;
    height: 20px;
    width: 20px;
    position: absolute;
    left: 4px;
    top: 4px;
}
.square:hover>.square-icon {
    background-image: url(image/square-icon-white.png);
}
.heart-icon {
    background-image: url(image/heart-icon.png);
    background-size: cover;
    line-height: 30px;
    text-align: center;
    height: 18px;
    width: 19px;
    position: absolute;
    left: 5px;
    top: 6px;
}
.heart:hover>.heart-icon {
    background-image: url(image/heart-icon-white.png);
}
.product-info {
    height: 470px;
    background-color: rgba(44, 113, 184, 0.75);
    padding: 15px;
    color: white;
}
.product-info-form {
    padding: 15px;
}
.device-name {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}
.product-info-text p {
    margin-bottom: 15px;
}
.weight-light, .weight-bolt {
    font-size: 21px;
}
.weight-light {
    font-weight: lighter;
}
.weight-bolt {
    font-weight: bold;
}
.price {
    display: block;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin: 20px auto;
    position: relative;
}
.coins {
    font-size: 28px;
    /* position: absolute;
    top: 2px;
    right: 25px; */
}

div button {
    height: 50px;
    width: 210px;
    border: none;
    background-color: transparent;
    color: white;
    border: 1px solid white;
}
div .more-details>button {
    margin-bottom: 15px;
    /* border: 1px solid white; */
}
.add-to-cart button {
    /* background-color: rgba(255, 255, 255, 0.15); */
    text-align: left;
    text-indent: 15px;
}
div button:hover {
    background-color: rgba(255, 255, 255, 0.15);
    border: none;
}
.add-to-cart {
    position: relative;
}
.cart-white a {
    display: block;
    height: 17px;
    width: 15px;
    background-image: url(image/cart-white.png);
    position: absolute;
    left: 178px;
    top: 15px;
}